.picture-engineer__main{
    display: block;
}

:root{
    --bgEngineer: rgb(240, 176, 56);
    --margin: 20px;
}

@media screen and (max-width: 991px){
    .main-container{
        padding: 0 !important;
    }
}

body{
    background: #FFFFFF;
    font-family: Montserrat,Arial;
    color: #111 !important;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}
a, span, p, label{
    text-decoration: none !important;
    list-style: none;
    color: #111 !important;
}
a:hover{
    text-decoration: none;
}
        
    