@model PictureEngineer.Data.DTO.ChangeForgotPasswordDto
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <form method="post" onsubmit="return false" id="form-password">
        <div class="login-form">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Thay đổi mật khẩu</h3>

            <div class="form-group">
                <label class="control-label">Mật khẩu</label>
                <input class="form-control" data-key="Password" type="password" id="password" name="password" placeholder="Mật khẩu" />
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu</label>
                <input class="form-control" data-key="ConfirmPassword" type="password" name="password_confirm" placeholder="Nhập lại mật khẩu" />
            </div>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox"></div>
                    <p class="semibold-text mb-2">
                        <a href="@Url.Action("Login", "AccountLogin", null, Context.Request.Scheme)">Đăng nhập</a>
                    </p>
                </div>
            </div>
            <input type="text" data-key="UserId" value="@Model.UserId" class="form-control" style="display: none" />
            <input type="text" data-key="Code" value="@Model.Code" class="form-control" style="display: none" />
            <div class="form-group btn-container">
                <button id="btn-password" class="btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-lg fa-fw"></i>Thay đổi mật khẩu</button>
            </div>
        </div>
    </form>
</div>
@section login{
    <script type="text/javascript">
        //Login
        var formLogin = $("#form-password").validate({
            rules: {
                ...rules
            },
            messages: { ...messages },
            ...options,
            submitHandler: function (form) {
                var data = $("#form-password").find(".form-control");
                var formData = new FormData();

                data.map(item => {
                    var valueItem = $(data[item]).val();
                    const key = $(data[item]).attr("data-key");

                    if (key === 'Key') {
                        valueItem = valueItem.toLowerCase();
                    }

                    formData.append(key, valueItem);
                })

                $.ajax({
                    type: "POST",
                    url: "/admin/ChangePassword",
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $("#btn-password").html("Loading...");
                        $("#btn-password").addClass("disabled");
                    },
                    success: function (msg) {
                        setTimeout(function () {
                            window.location.href = "/admin/login"
                        }, 1000);

                        toastr["success"](msg);
                        $("#btn-password").html('<i class="fa fa-sign-in fa-lg fa-fw"></i>Thay đổi mật khẩu');
                    },
                    error: function (errors) {
                        toastr["error"](errors.responseText);
                        $("#btn-password").html('<i class="fa fa-sign-in fa-lg fa-fw"></i>Thay đổi mật khẩu');
                        $("#btn-password").removeClass("disabled");
                    }
                })
            }
        });
    </script>
}